<h2>Work Experience</h2>

<div class="row">

<h3><%= @work.company %> <small><%= @work.website %></small></h3>
<h4><%= @work.position %></h4>
<p><%= @work.startDate %> - <%= @work.endDate %></p>
<p><%= @work.summary %></p>
<h5>Work Highlights <small><button type="button" class="btn btn-default btn-xs"><a href="/works/<%= @work.id %>/highlights/new">Add Highlight</a></button></small></h5>
<ul>
<% @work.highlights.each do |highlight| %>
<li><%= highlight.detail %> <button type="button" class="btn btn-default btn-xs"><a href="/works/<%= @work.id %>/highlights/<%= highlight.id %>/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></button></li>
<% end %>
</ul>

<button type="button" class="btn btn-default btn-xs">
  <a href="/works/<%= @work.id %>/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Work</a>
</button>

</div>