<h2 class='text-center'>Show Work Experience</h2>

<div class="row">

<%= @work.company %><br />
<%= @work.position %><br />
<%= @work.website %><br />
<%= @work.startDate %><br />
<%= @work.endDate %><br />
<%= @work.summary %><br />

<ul>
<% @work.highlights.each do |highlight| %>
<li><%= highlight.detail %></li>
<% end %>
</ul>

<br /><br />
<p><a href="/works/<%= @work.id %>/edit">Edit</a></p>
<p><a href="/highlights/new">Add Highlight</a></p>
</div>