<h2 class='text-center'><%= @user.name %></h2>

<div class="row">
<h2>User Information <small><a href="/users/<%= @user.id %>/edit">Edit</a></small></h2> 
<%= @user.name %><br />
<%= @user.label %><br />
<%= @user.email %><br />
<%= @user.phone %><br />
<%= @user.website %><br />
<%= @user.summary %>
</div>

<div class="row">
<h2>Work Experience <small><a href="/works/edit">Edit</a></small></h2> 


</div>