<h2>User Details</h2>

<div class="row">

<h3><%= @user.name %></h3>
<h4><%= @user.label %></h4>
<%= @user.email %> | <%= @user.phone %> | <%= @user.website %><br />
<p><%= @user.summary %></p>

<button type="button" class="btn btn-default btn-xs">
  <a href="/users/<%= @user.id %>/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit User</a>
</button>

</div>
