<!DOCTYPE html>
<html>
<head>
  <title>Resume</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header ">
        <a class="navbar-brand" href="#">Resume</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if user_signed_in? %> 
            <ul class="nav navbar-nav">
              <li><a href="/users/3">User details</a></li>
              <li><a href="/works/">Work</a></li>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to('Login', new_user_session_path)  %></li>
            <% end %>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </div>

  <% if alert %>
    <div class="alert alert-warning">
      <%= alert %>
    </div>
  <% end %>

  <% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
  <% end %>


<%= yield %>



</div>

</body>
</html>
